*{ margin: 0; padding: 0; box-sizing: border-box; font-family: 'Muli', sans-serif;}

a {color: white; text-decoration: none;}

header{
	width: 100%;
	height: 100vh;
	background: rgb(34,125,195);
	background: linear-gradient(14deg, rgba(34,125,195,1) 23%, rgba(45,253,172,1) 100%);
	position: relative;
}
header:before{

	content: "";
	width: 725px;
	height: 725px;
	position: absolute;
	left: 0;
	right: 3;
	bottom: 0;
	background-size: 100% 100%;
}

nav{
	width: 100%;
	height: 15vh;
	display: flex;
	justify-content: space-around;
	align-items: center;
	position: absolute;
}

.logo a{

		font-size: 1.6rem;
		text-transform: uppercase;
}
.menu ul li{
	list-style: none;
	display: inline-block;
	padding: 0 15px;
}

.menu ul li a{

	text-transform:  capitalize;
}

.active, ul li:hover{
	border-top: 2px solid #5dade2;
	border-bottom:2px solid	#5dade2;
}

/*///// center content //////*/
.center_content {
 -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;

}

.center_content h1{
	color: #fff;
	font-size: 70px;
	text-transform: capitalize;
	font-weight: 700;
	margin-bottom: 10px;

	/*z-index:1;*/
}

.center_content h2{
	color: #fff;
	font-size: 50px;
	text-transform: capitalize;
	font-weight: 400;
	margin-bottom: 10px;
	animation: type 2s steps(20);
	overflow: hidden;
	white-space: nowrap;

	/*z-index:1;*/
}
@keyframes type{
	0%{
		width: 0ch;
	}
	100%{
		width: 20ch;
	}
}
.center_content h3{
	color: #fff;
	font-size: 25px;
	text-transform: capitalize;
	font-weight: 400;
	margin-bottom: 10px;

	/*z-index:1;*/
}

/*//////// font awesome style ////////*/

.social_network{
	width: 100px;
	height: auto;
	position: absolute;
	right: 0;
	top: 40%;

}

.fa_icons{
	width: 40px;
	height: 40px;
	border-radius: 50%;
	background: linear-gradient(to bottom, #227dc3 0%, #2dfdac 100%);
	display: flex;
	justify-content: center;
	align-items: center;

}

.fa_icons:nth-child(even){
	margin: 20px 0;
}

.fa_icons:hover{
	background: linear-gradient(to bottom, #2dfdac 0%, #227dc3 100%);
}

.imgg{
	width: 10%;
	height: 10%;
		display: flex;
	justify-content: center;
	align-items: center
}

.center{
	display: block;
margin:	auto auto;
	vertical-align: middle;
	width: 28%;
}

.head {
 -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  position: absolute;
  top: 20%;
  left: 50%;
  text-align: center;
	color: #fff;
	font-size: 30px;
	text-transform: capitalize;
	font-weight: 700;
	margin-bottom: 10px;

	/*z-index:1;*/
}
html,body{
    margin: 0;
    padding: 0;
}

ul.filters{
    display: block;
    width: 100%;
    margin: 0;
    padding: 30px 0;
}

ul.filters > li{
    list-style: none;
    display: inline-block;
}

ul.filters > li > a{
    display: block;
    color: #434e5e;
    text-decoration: none;
    padding: 5px 20px;
}

ul.filters > li > a:hover{
    background-color: #e6e9ed;
}

ul.filters > li.active > a{
    color: #fff;
    background-color: #28bea8;
}

.card{
    position: relative;
    margin-bottom: 50px;
    color: #000;
    border-radius: 0;
    border: 1px solid #eee;
    background-color: #fff;
    box-shadow: 1px 1px 1.5px rgba(0,0,0,0.075);
}

.card-head{
    position: relative;
    overflow: hidden;
}

.card-overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9;
    background-color: rgba(67,78,94,0.8);
    display: flex;
    align-items: center;
    justify-content: center;
    color :#fff;
    -webkit-transition: ease-in-out 0.2s;
    -moz-transition: ease-in-out 0.2s;
    -ms-transition: ease-in-out 0.2s;
    transition: ease-in-out 0.2s;
}

.card-hover{
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(40,190,168,0.9);
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    flex-direction: column;
    box-sizing: border-box;
    padding: 30px;
    -webkit-transition: ease-in-out 0.2s;
    -moz-transition: ease-in-out 0.2s;
    -ms-transition: ease-in-out 0.2s;
    transition: ease-in-out 0.2s;
}

.card-body{
    padding-top: 10px;
    padding-bottom: 10px;
}

h4.title{
    color: #434e5e;
    font-size: 1.2rem;
    margin-bottom: 0;
}

.card-btn{
    margin-bottom: -40px;
    font-size: 0.9rem;
    background-color: #fff;
    color: #222;
    border: 1px solid #eee;
    border-radius: 0;
    padding-left: 50px;
    padding-right: 50px;
}

.card-btn:hover{
    background-color: #28bea8;
    color: #fff;
}

.carousel{
	width: 76%;
	height: 76%;
	margin-right: auto;
	margin-left: auto;
	margin-top: 100;
	margin-bottom: auto;


}

